{% extends 'core/base.html' %}

{% block content %}
    <div class="space-y-5">
        {% for contact in contacts %}
            <div class="px-4 py-6 text-center bg-gray-500 rounded-xl">
                <h2 class="mb-2 text-xl">{{ contact.first_name }} {{ contact.last_name }}</h2>
                <h3 class="text-5m text-gray-900">{{ contact.category.title }}</h3>

                <p><strong>E-mail:</strong>{{ contact.email }}</p>
                <p><strong>Phone:</strong>{{ contact.phone }}</p>

                <p class="mt-6">
                    {{ contact.address }}<br>
                    {{ contact.zipcode }} {{contact.city }}
                </p>

                <div class="mt-6 items-end text-right">
                    <a href="{% url 'edit' contact.id %}" class="px-4 py-2 bg-green-800 text_white rounded-xl">Edit</a>
                    <a href="{% url 'delete' contact.id %}" class="px-4 py-2 bg-red-800 text_white rounded-xl">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
